# Ignore Maven output folders here and in children. Please note that if someone tries to create a
# Java package named 'target', they're going to have a bad time as a result of this.
**/target/

# Ignore IntelliJ configuration files
*.iml

# Ignore NetBeans settings files
**/nb-configuration.xml
**/nbactions.xml

# Ignore dependency-check 'dependencies' directory
dependencies

# Ignore migration-shortcut symlink if present
migrations-shortcut

# keiths errata
bluebutton-data-pipeline-*
bluebutton-local-*

